body{
    background-color: lightpink;
    width: 100%;
}
.navbar-nav li a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.navbar-nav li a:hover{
    color: black;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
}
span{
    color: red;
}

