body{
    background-color: lightgrey;
}.hover-img{
    position: relative;
}
img{
    width: 300px;
    height: 250px;

}
.hover-img figcaption{
    position: absolute;
    display: flex;
    width: 150px;
    height: 100px;
    top: 60px;
    left: 60px;
    padding: 1em;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    backdrop-filter: blur(8px) brightness(80%);
}